doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='../') Insan Medika
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            //-   a(href='../help/') Help
            //- li
            //-   a(href='http://news.bootswatch.com') Blog
            //- li.dropdown
            //-   a#download.dropdown-toggle(data-toggle='dropdown', href='#')
            //-     | Cerulean 
            //-     span.caret
            //-   ul.dropdown-menu(aria-labelledby='download')
            //-     li
            //-       a(href='http://jsfiddle.net/bootswatch/9y480qo5/') Open Sandbox
            //-     li.divider
            //-     li
            //-       a(href='./bootstrap.min.css') bootstrap.min.css
            //-     li
            //-       a(href='./bootstrap.css') bootstrap.css
            //-     li.divider
            //-     li
            //-       a(href='./variables.less') variables.less
            //-     li
            //-       a(href='./bootswatch.less') bootswatch.less
            //-     li.divider
            //-     li
            //-       a(href='./_variables.scss') _variables.scss
            //-     li
            //-       a(href='./_bootswatch.scss') _bootswatch.scss
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#', target='_blank') Login
            li
              a(href='#', target='_blank') Sign Up
    block content
    block foot
      hr
      footer.container
        .row
          .col-lg-12
            ul.list-unstyled
              li.pull-right
                a(href='#top') Back to top
              li.pull-left
                a(href='http://news.bootswatch.com', onclick='pageTracker._link(this.href); return false;') Blog
              li.pull-left
                a(href='http://feeds.feedburner.com/bootswatch') RSS
              li.pull-left
                a(href='https://twitter.com/bootswatch') Twitter
              li.pull-left
                a(href='https://github.com/thomaspark/bootswatch/') GitHub
              li.pull-left
                a(href='../help/#api') API
              li.pull-left
                a(href='../help/#support') Support
            br
            br
            br
            p
              | Made by 
              a(href='http://thomaspark.co', rel='nofollow') Thomas Park
              | . Contact him at 
              a(href='/cdn-cgi/l/email-protection#90e4f8fffdf1e3d0f2ffffe4e3e7f1e4f3f8bef3fffd')
                span.__cf_email__(data-cfemail='0c786463616d7f4c6e6363787f7b6d786f64226f6361') [email protected]
                script(data-cfhash='f9e31', type='text/javascript').
                  /* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */
              | .
            p
              | Code released under the 
              a(href='https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE') MIT License
              | .
            p
              | Based on 
              a(href='http://getbootstrap.com', rel='nofollow') Bootstrap
              | . Icons from 
              a(href='http://fortawesome.github.io/Font-Awesome/', rel='nofollow') Font Awesome
              | . Web fonts from 
              a(href='http://www.google.com/webfonts', rel='nofollow') Google
              | .

        
